<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Frisbee Stats</title>
</head>

<body>
    <!--
      index.html
      Home page for Frisbee Stats web app.
      Provides navigation and usage instructions.
    -->

    <div id="topbar">
        Frisbee Stats
        <img src="{{ url_for('static', filename='Frisbee_Stats_Logo_Light.png') }}" alt="Logo" class="topbar-logo">
      </div>
    <div id="home-flex">
        <div id="home-main">
            <h2>How to use Frisbee Stats: </h2>
            <p>*This site only has data up until 3/30/2025 for the D1 and D3 mens divisions</p>
            <h3>Teams:</h3>
            <p>View a list of all teams. Click on a team to view its page.</p>
            <h3>Leaderboard:</h3>
            <p>View the leaderboard according to different ranking algorithms.</p>
            <h3>My Team is Better than Your Team (MTIBTYT):</h3>
            <p>Prove that your team is better than your friends team!</p>
            <h3>Fun Facts:</h3>
            <p>View a few fun facts from the season!</p>
            <h4>Congratulations to Carleton CUT for taking home their fifth D1 mens championship!!!</h4>
            <h4>CUTRULES</h4>
            <h4>Also congratulations to Lewis &amp Clark Bacchus for winning their first D3 mens championship!</h4>
        </div>
        <div id="home-image">
            <img src="{{ url_for('static', filename='CUTlogo.png') }}" alt="CUT logo" style="max-width: 100%; height: auto;">
        </div>
    </div>

    <div id="navbar">
        <ul>
            <li>
                <a href="/" class="nav-item">
                  <img src="{{ url_for('static', filename='Home_Dark.png') }}" alt="Home" class="nav-icon">
                  Home
                </a>
              </li>
              <li>
                <a href="teams.html" class="nav-item">
                  <img src="{{ url_for('static', filename='Teams_Dark.png') }}" alt="Teams" class="nav-icon">
                  Teams
                </a>
              </li>  
              <li>
                <a href="leaderboard.html" class="nav-item">
                  <img src="{{ url_for('static', filename='Leaderboard_Dark.png') }}" alt="Leaderboard" class="nav-icon">
                  Leaderboard
                </a>
              </li>
              <li>
                <a href="MTIBTYT.html" class="nav-item">
                  <img src="{{ url_for('static', filename='MTIBTYT_Dark.png') }}" alt="MTIBTYT" class="nav-icon">
                  MTIBTYT
                </a>
              </li>  
              <li>
                <a href="fun_facts.html" class="nav-item">
                  <img src="{{ url_for('static', filename='Fun_Facts_Dark.png') }}" alt="Fun Facts" class="nav-icon">
                  Fun Facts
                </a>
              </li>               
        </ul>
      </div>
</body>
</html>