<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <title>Frisbee Stats</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
 <script type="text/javascript" src="{{ url_for('static', filename='frisbee.js') }}" ></script>
 <script>
   document.addEventListener('DOMContentLoaded', function () {
     getLeaderboard(); //should default to USAU
   });
 </script>
</head>
<body>
 <!--
  leaderboard.html
  Shows the leaderboard for teams under different algorithms.
-->

<div id="topbar">
  <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
    <img src="{{ url_for('static', filename='Frisbee_Stats_Logo_Light.png') }}" alt="Logo" class="topbar-logo">
    <div id="global-search-bar-container"></div>
  </div>
</div>
 <h2 class="leaderboard-title">Leaderboard</h2>


 <button onclick="dropInfo()">Click here for more algorithm information!</button>


 <div id="info-paragraph" style="position:relative; display: none; flex-direction: column; align-items: flex-start;">
    <ul>
      <li>SWCI: “Simple Win-Margin-SOS Composite Index” combines win percentage, margin of victory, and strength of schedule into a single weighted score.</li>
      <li>ELO: Starts all teams at 1500 rating and updates ratings after each game based on the margin and the expected outcome, so upsets and blowouts move ratings more.</li>
      <li>Massey: Essentially looks at every games score and chooses a rating so that, as much as possible, if team A beat team B by 10 points, A's rating is about 10 higher than B's. Then Massey sorts the ratings to generate rankings.</li>
      <li>USAU: The official USA Ultimate ranking algorithm generates a provisional rating shift for each winner/loser of a game and weights this shift by various factors, including how late in the season the game is and how high scoring the game was. USAU repeats this process until rankings stabilize.</li>
  </ul>
  </div>
 <script>
   function dropInfo() {
     const paragraph = document.getElementById("info-paragraph");
     paragraph.style.display = (paragraph.style.display === "none") ? "block" : "none";
   }
 </script>
 
 <div id="leaderboard-container">
   <div class="leaderboard-box">
     <div id="leaderboard"></div>
   </div>

   <div style="width: 50%;">
     <div id="leaderboard-dropdown" class="dropdown" style="position:relative; display: flex; flex-direction: column; align-items: flex-start;">
      <p>Choose a ranking algorithm:</p>
       <button id="algorithm-button">USAU ▼</button>
       <ul id="algorithm-dropdown" style="display:none;">
        <li data-alg="USAU">USAU</li>
        <li data-alg="Massey">Massey</li>
        <li data-alg="ELO">ELO</li>
        <li data-alg="SWCI">SWCI</li>
       </ul>
     </div>
   </div>
 </div>


    <div id="navbar">
        <ul>
            <li>
                <a href="/" class="nav-item">
                  <img src="{{ url_for('static', filename='Home_Dark.png') }}" alt="Home" class="nav-icon"
                  image-dark="{{ url_for('static', filename='Home_Dark.png') }}"
                  image-light="{{ url_for('static', filename='Home_Light.png') }}">
                  Home
                </a>
              </li>
              <li>
                <a href="teams.html" class="nav-item">
                  <img src="{{ url_for('static', filename='Teams_Dark.png') }}" alt="Teams" class="nav-icon"
                  image-dark="{{ url_for('static', filename='Teams_Dark.png') }}"
                  image-light="{{ url_for('static', filename='Teams_Light.png') }}">
                  Teams
                </a>
              </li>  
              <li>
                <a href="leaderboard.html" class="nav-item active">
                  <img src="{{ url_for('static', filename='Leaderboard_Dark.png') }}" alt="Leaderboard" class="nav-icon"
                  image-dark="{{ url_for('static', filename='Leaderboard_Dark.png') }}"
                  image-light="{{ url_for('static', filename='Leaderboard_Light.png') }}">
                  Leaderboard
                </a>
              </li>
              <li>
                <a href="MTIBTYT.html" class="nav-item">
                  <img src="{{ url_for('static', filename='MTIBTYT_Dark.png') }}" alt="MTIBTYT" class="nav-icon"
                  image-dark="{{ url_for('static', filename='MTIBTYT_Dark.png') }}"
                  image-light="{{ url_for('static', filename='MTIBTYT_Light.png') }}">
                  MTIBTYT
                </a>
              </li>  
              <li>
                <a href="fun_facts.html" class="nav-item">
                  <img src="{{ url_for('static', filename='Fun_Facts_Dark.png') }}" alt="Fun Facts" class="nav-icon"
                  image-dark="{{ url_for('static', filename='Fun_Facts_Dark.png') }}"
                  image-light="{{ url_for('static', filename='Fun_Facts_Light.png') }}">
                  Fun Facts
                </a>
              </li>               
        </ul>
      </div>
 

</body>
</html>



