<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='frisbee.js') }}" ></script>
    <title>Frisbee Stats</title>
</head>
<body>
    <div id="topbar">Frisbee Stats</div>

    <h2 class="MTIBTYT-title">My Team Is Better Than Your Team</h2>

    <div id="MTIBTYT-container" class="panel-container">

        <!-- Team 1 panel -->
        <div id="team1" class="leaderboard-box">
            <p>Select a team from the dropdown menu</p>
            <div class="dropdown">
              <h3 id="team1_header">Team 1</h3>
              <ul id="team1_list">
              </ul>
            </div>
        </div>

        <!-- Team 2 panel -->
        <div id="team2" class="leaderboard-box">
            <p>Select a team from the dropdown menu</p>
            <div class="dropdown">
              <h3 id="team2_header">Team 2</h3>
              <ul id="team2_list">
              </ul>
            </div>
        </div>

        <!-- Chain of Pain -->
        <div id="chain">
            <button id="chain_button">Show Chain of Pain</button>
            <div id="chain_output">
            <ul>
            </ul>
            </div>
        </div>

    </div>

    <div id="navbar">
        <ul>
            <li><a href ="/"> Home</a></li>
        <li><a href="teams.html"> Teams </a></li>
        <li><a href="leaderboard.html"> Leaderboard </a></li>
        <li><a href="MTIBTYT.html"> MTIBTYT </a></li>
        <li><a href="fun_facts.html"> Fun Facts </a></li>
        </ul>
    </div>
</body>
</html>
