<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Frisbee Stats</title>
</head>
<body>
    <div id="topbar">Frisbee Stats</div>

    <h2 class="MTIBTYT-title">My Team Is Better Than Your Team</h2>

    <div id="MTIBTYT-container" class="panel-container">

        <!-- Team 1 panel -->
        <div id="team1" class="leaderboard-box">
            <p>Select a team from the dropdown menu</p>
            <div class="dropdown">
              <h3>Team 1</h3>
              <ul>
                <li>Air Force</li>
                <li>Pacific Lutheran</li>
                <li>Whitman</li>
                <li>...</li>
              </ul>
            </div>
        </div>

        <!-- Team 2 panel -->
        <div id="team2" class="leaderboard-box">
            <p>Select a team from the dropdown menu</p>
            <div class="dropdown">
              <h3>Team 2</h3>
              <ul>
                <li>Air Force</li>
                <li>Pacific Lutheran</li>
                <li>Whitman</li>
                <li>...</li>
              </ul>
            </div>
        </div>

        <!-- Chain of Pain -->
        <div id="chain">
            <p>
                (Upon opening this page, this box will be blank.) Once two teams are chosen, the chain of pain will be revealed.
            </p>
            <ul>
                <li>(Team One) &gt;</li>
                <li>UNC Wilmington &gt;</li>
                <li>Yale &gt;</li>
                <li>Alabama-B &gt;</li>
                <li>… &gt;</li>
                <li>(Team Two)</li>
            </ul>
        </div>

    </div>

    <div id="navbar">
        <ul>
            <li><a href ="/"> Home</a></li>
        <li><a href="teams.html"> Teams </a></li>
        <li><a href="leaderboard.html"> Leaderboard </a></li>
        <li><a href="MTIBTYT.html"> MTIBTYT </a></li>
        <li><a href="fun_facts.html"> Fun Facts </a></li>
        </ul>
    </div>
</body>
</html>
