<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='frisbee.js') }}" ></script>
    <title>Frisbee Stats</title>
</head>

<body>
    <div id="topbar">Frisbee Stats</div>

<div id="teams-container">
<div id="page-title">
</div>
    <div id = "games">
        <h3> Games </h3>
        </div>

    <div id = "rank">
        <h3> Rank: 5 </h3>
        <p>Choose your desired algorithm:</p>
        <div class = "dropdown">
            <ul>
                <li> Massey </li>
                <li>  ELO </li>
                <li> SWCI </li>
            </ul>
        </div>   
        <div class="chart-container" id="chart-container">
                <div id="chart"></div>
        </div>    
    </div>
    </div>
    <div id = "navbar"> 
        <ul>
        <li><a href ="/"> Home</a></li>
        <li><a href="teams.html"> Teams </a></li>
        <li><a href="leaderboard.html"> Leaderboard </a></li>
        <li><a href="MTIBTYT.html"> MTIBTYT </a></li>
        <li><a href="fun_facts.html"> Fun Facts </a></li>
            
        </ul>
    </div>
</body>
</html>