<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='frisbee.js') }}" ></script>
    <title>Frisbee Stats</title>
</head>

<body>
    <div id="topbar">Frisbee Stats</div>

<h2>
    Teams
</h2>
<div id = "teams_list">
    <ul>
    </ul>
</div>

    <div id = "navbar"> 
        <ul>
        <li><a href ="/"> Home</a></li>
        <li><a href="teams.html"> Teams </a></li>
        <li><a href="leaderboard.html"> Leaderboard </a></li>
        <li><a href="MTIBTYT.html"> MTIBTYT </a></li>
        <li><a href="fun_facts.html"> Fun Facts </a></li>
            
        </ul>
    </div>
</body>
</html>

