<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='frisbee.js') }}" ></script>
    <title>Frisbee Stats</title>
</head>

<body>
    <div id="topbar">
      <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
        <img src="{{ url_for('static', filename='Frisbee_Stats_Logo_Light.png') }}" alt="Logo" class="topbar-logo">
        <div id="global-search-bar-container"></div>
      </div>
    </div>

<div id="teams-container">
<h2 id="page-title"></h2>
    <div id = "games">
        <h3> Games </h3>
        </div>

    <div id = "rank">
        <h3 id="rank-header"></h3>
        <p>Choose your desired algorithm:</p>
        <div class="dropdown" id="algorithm-dropdown-container">
          <button id="algorithm-button">USAU ▼</button>
          <ul id="algorithm-dropdown" style="display:none;">
            <li data-alg="USAU">USAU</li>
            <li data-alg="Massey">Massey</li>
            <li data-alg="ELO">ELO</li>
            <li data-alg="SWCI">SWCI</li>
          </ul>
        </div>   
        <div class="chart-container" id="chart-container">
                <div id="chart"></div>
        </div>    
    </div>
    </div>
    <div id="navbar">
        <ul>
            <li>
                <a href="/" class="nav-item">
                  <img src="{{ url_for('static', filename='Home_Dark.png') }}" alt="Home" class="nav-icon"
                  image-dark="{{ url_for('static', filename='Home_Dark.png') }}"
                  image-light="{{ url_for('static', filename='Home_Light.png') }}">
                  Home
                </a>
              </li>
              <li>
                <a href="teams.html" class="nav-item active">
                  <img src="{{ url_for('static', filename='Teams_Dark.png') }}" alt="Teams" class="nav-icon"
                  image-dark="{{ url_for('static', filename='Teams_Dark.png') }}"
                  image-light="{{ url_for('static', filename='Teams_Light.png') }}">
                  Teams
                </a>
              </li>  
              <li>
                <a href="leaderboard.html" class="nav-item">
                  <img src="{{ url_for('static', filename='Leaderboard_Dark.png') }}" alt="Leaderboard" class="nav-icon"
                  image-dark="{{ url_for('static', filename='Leaderboard_Dark.png') }}"
                  image-light="{{ url_for('static', filename='Leaderboard_Light.png') }}">
                  Leaderboard
                </a>
              </li>
              <li>
                <a href="MTIBTYT.html" class="nav-item">
                  <img src="{{ url_for('static', filename='MTIBTYT_Dark.png') }}" alt="MTIBTYT" class="nav-icon"
                  image-dark="{{ url_for('static', filename='MTIBTYT_Dark.png') }}"
                  image-light="{{ url_for('static', filename='MTIBTYT_Light.png') }}">
                  MTIBTYT
                </a>
              </li>  
              <li>
                <a href="fun_facts.html" class="nav-item">
                  <img src="{{ url_for('static', filename='Fun_Facts_Dark.png') }}" alt="Fun Facts" class="nav-icon"
                  image-dark="{{ url_for('static', filename='Fun_Facts_Dark.png') }}"
                  image-light="{{ url_for('static', filename='Fun_Facts_Light.png') }}">
                  Fun Facts
                </a>
              </li>               
        </ul>
      </div>
</body>
</html>